// $blue: #283ba7;
// $off_white: #d4c8b8;
// $black: #050505;
// $gray: #494844;
// $brown: #5c3520;
// $brown: #9c5e3c;
// $gray_brown: #30261d;
// $white: #ffffff;
// $teal: #2f3847;
// $green: #384937;

$main-font: #ffffff;

$mainbackground: #b2c4ec;
$input-box-shadow: #fff6da;
$select-box-shadow: #fff6da;
$button-background: #03132b;
$button-background-hover: #2f3847;
$button-border: #03132b;
$button-border-focus: #fff6da;
$button-border-hover: #fff6da;

$form-success-color: #4f63ff;
$form-success-border: #4f63ff;
$form-error-color: #ff5252;
$form-error-border: #ff5252;

$service-selector-background: #3d3d40;
$service-selector-background-hover: #dac27a;
$service-selector-background-active: #e7c45a;
$service-selector-background-disabled: #a3a3a357;
$service-selector-border: #f7cd6c;

$utility-container-background: #0e0e0e33;
$utility-button-color: #412e16;
$utility-button-color-hover: #03132b;
$utility-button-background: #fff6da;
$utility-button-background-focus: #dac27a;
$utility-button-background-hover: #dac27a;
$utility-button-border-color: #fff6da;
$utility-button-border-color-focus: #dac27a;
$utility-button-border-color-hover: #dac27a;

$utility-checkbox-color: #dac27a;
$utility-checkbox-background-before: #524e4993;
$utility-checkbox-border-before: #dac27a;
$utility-checkbox-border-checked: #dac27a;
$utility-checkbox-border-disabled: #03132b;
